# Cherry-picking files
*
!/.gitignore
!/.Xresources
!/.Xmodmap
!/packages/
!/packages/*.txt
!/.config/
!/.config/redshift/
!/.config/redshift/redshift.conf
!/.config/redshift/hooks/
!/.config/redshift/hooks/*.sh
!/.config/neofetch/
!/.config/neofetch/config.conf
!/.config/dunst/
!/.config/dunst/dunstrc
!/.config/dunst/icons/
!/.config/dunst/icons/*.png
!/.config/git/
!/.config/git/config
!/.config/git/ignore
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini
!/.config/i3/
!/.config/i3/config
# only the scripts the i3 config actually calls -- not the whole scripts/ pile
!/.config/i3/scripts/
!/.config/i3/scripts/screenshot
!/.config/i3/scripts/display/
!/.config/i3/scripts/display/watch-outputs.sh
!/.config/i3/scripts/input/
!/.config/i3/scripts/input/watch-keyboard.sh
!/.config/i3/scripts/startup/
!/.config/i3/scripts/startup/copycat.sh
!/.config/i3/scripts/tray/
!/.config/i3/scripts/tray/wifi-applet.sh
!/.config/i3status/
!/.config/i3status/config
!/.config/pulse/
!/.config/pulse/client.conf
!/.config/sakura/
!/.config/sakura/sakura.conf
!/.config/synapse/
!/.config/synapse/config.json
!/.config/terminator/
!/.config/terminator/config
!/.config/Trolltech.conf
!/.config/X11/
!/.config/X11/resources
!/.config/zsh/
!/.config/zsh/.zshrc
!/.config/zsh/.zlogin
!/.config/zsh/config
!/.config/zsh/utils
!/.config/zsh/aliases
!/.config/zsh/prompt
!/.config/user-dirs.dirs
!/.emacs.d/
!/.emacs.d/init.el
!/.emacs.d/lisp/
!/.emacs.d/lisp/*.el
!/.local/
!/.local/bin/
!/.local/bin/colordiff.sed
!/.local/share/
!/.local/share/zsh

# Stuff I always want to ignore
.DS_Store
*.elc
url
ede-projects.el
tramp
*~
\#*\#
.dotfiles.git
